{% extends 'base.html' %}
{% load static %}
{% block title %}Admin Dashboard{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

<h2>Admin Dashboard</h2>
{% comment %} <ul>
    <li><a href="{% url 'questions_list' %}">Manage Questions</a></li>
    <li><a href="{% url 'admin_users' %}">Manage Users</a></li>
    <li><a href="{% url 'admin_activity' %}">Activity & Reports</a></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
</ul> {% endcomment %}
{% endblock %}
